<%- include('./partials/header.ejs') %>

  <main>
    <section id="hero">
      <h2>Notre catalogue</h2>
    </section>
    <section id="coffees">
      <form method="GET" action="/catalog">
        <select name="category">
          <option value="">categorie</option>
          <% characteristics.forEach(({characteristic}) => { %>
          <option value="<%= characteristic %>"><%= characteristic %></option>
          <% }) %>
        </select>
        <button>Filter</button>
      </form>

      <div class="coffee-content">
        <% coffees.forEach((coffee, index) => { %>
          <article class="coffee <%= index > 2 ? "coffee__hidden" : ""%>">
          <img src="/images/coffees/<%= coffee.reference %>.png" alt="Café en grains">
          <div class="coffee__details">
            <h3><%= coffee.name %></h3>
            <p><%= coffee.description %></p>
            <button><a href="/product/<%= coffee.id %>">Découvrir</a></button></a>
          </div>
        </article>
        <% }) %>
      </div>
      <button id="viewMore">Voir tous les produits</button>
    </section>
  </main>

  <%- include('./partials/footer.ejs') %>
